*{
    margin:0;
    padding: 0;
}

body {
    background-color: #9FCF62;
    font-family: Arial;
}

.navbar {
    background-color: #1DAB33;
}

.nav-item {
    display: inline-block;
    padding-right: 5%;
    font-size: 20pt;
} 


.nav-link{
    color: #901313;
    text-decoration: none;
}
.color-main {
    color: #901313;
}
.nav-item.active {
    font-size: 25pt;
    padding-left: 20pt;
}
.nav-item.main {
    padding-left: 0;
    font-size: 25pt;
}

.container {
    width: 100%;
}

.col-first{
    margin-left: 30px;
    margin-right: 10px;
    float: left;
   width: 33%; 
}
   
.col-third{
    position: relative;
    float: right;
    width: 20%;

    margin-right: 30px;
}

.col-fourth{
    position: relative;
    margin-top: 10px;;
    margin-left: 30px;
    float: left;
   width: 40%; 
}

.col-fifth{
    margin-top: 10px;;
    margin-left: 30px;
    float: left;
    width: 20%; 
}
.col-sixth {
    float: right;
    width: 40%;
}

   
.col-seven{
    position: relative;
    float: right;
    width: 20%;

    margin-right: 30px;
}

.col-main {
    display: inline-block;
    position: relative;
    width: 30%;
}

.row {
    position: absolute;
    width: 100%;
    background-color: #9FCF62;
}

.img{
    width: 100%;
}

.img-big {
    width: 50%;
    
}
.img-top {
    margin-top: 20px;;
}
.img-logo {
    margin-top: 5px;
}

.color-title{
    color: #048BCE;
}

.table {
    background-color: #373A3C;
    color: #048BCE;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 12pt;
    font-weight: lighter;
 
}


.btn-join {
    border-radius: 5px;
    background-color: #048BCE;
    color: white;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-style: none;
}

.form-control {
    margin-bottom: 5px;
    border-radius: 3px;
    border-width: 1px;
    border-color: #048BCE;
}

.img-tetia-first {
    margin-right: 10%;
}

.img-tetia-third {
    margin-bottom: 30px;
}
.img-tetia-second {
    margin-right: 15%;
}

h4 {
   margin-top: 5px;
   margin-bottom: 5px;
}

h2 {
    margin-top: 10px;
    margin-bottom: 10px;
 }

h1 {
    margin-top: 10px;
    margin-bottom: 10px;
 }
 
th{
padding-left: 5px;
padding-right: 5px;
}

.table {
     margin-bottom: 10px;
   
}

.left-side-width {
width: 18rem;
}


@media screen and (max-width: 800px){
   
    .col-main {
        display: block;
        position: relative;
        width: 30%;
    }
 
 }

 
@media screen and (max-width: 800px){
   
    .col-seven {
        display: block;
        float: right;
        margin-right: 10px;
        margin-left: 10px;
        position: relative;
        width: 10%;
    }
 
    .col-sixth {
        display: block;
        float: left;
        position: relative;
        width: 40%;
        margin-right: 10px;
        margin-left: 10px;
    }
    
    .col-fifth{
        display: block;
        margin-top: 10px;;
        margin-left: 30px;
        float: left;
        width: 20%; 
        margin-right: 10px;
        margin-left: 10px;
    }
       
 }